$blue: #81b3d2;
$darker-blue: #669ec0;
$brighter-blue: #5496bd;
$white: #ffffff;
$black: #000000;
$grey: #e5e5e5;
$slightly-lighter-grey: #e6e6e6;
$bg-grey: #eeeeee;
$lighter-grey: #f2f2f2;
$darker-grey: #d5d5d5;
$alert: #ff5c5c;


