.btn {
  display: block;
  padding: 16px;
  margin: 0;
  width: 100%;

  font-weight: bold;
  font-size: $font-size-btns;
  line-height: 26px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  outline: none;
  cursor: pointer;

  @include btn-style;
}

.social-btn {
  @include size(46px, 48px);

  display: inline-block;
  margin-right: 6px;

  vertical-align: top;
  line-height: 48px;
  font-size: 0;

  @include btn-style;
}

.social-btn--facebook {
  width: 47px;
}

.social-btn__svg-icon {
  vertical-align: middle;
  fill: $white;
  .social-btn:active & {
    opacity: 0.3;
  }
}
