.text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 21px;

  text-align: left;

  &--inline {
    flex-direction: row;
     align-items: center;
  }

  @media #{$tablet-widths} {
    position: relative;
  }

  &--invalid {
    @media #{$mobile-only} {
      margin-bottom: 13px;
    }
  }
}

.text-field__input {
  @include bold-text;
  @include input-style;

  display: block;
  width: 100%;
  padding: 16px 20px;

  &--icon {
    border-right: 56px solid $slightly-lighter-grey;
  }

  &::-webkit-input-placeholder {
    @include bold-text;
  }

  &::-moz-placeholder {
    @include bold-text;
  }

  &:-moz-placeholder {
    @include bold-text;
  }

  &:-ms-input-placeholder {
    @include bold-text;
  }
}

.text-field__label {
  padding-left: 20px;
  line-height: 26px;
  margin-bottom: 8px;

  &--inline {
    padding-left: 0;
    padding-right: 15px;
    margin: 0;
  }
}

.text-field__error-message {
  display: none;
  padding-left: 20px;
  margin-top: 6px;
  width: 100%;

  text-transform: none;
  color: $alert;

  @media #{$tablet-widths} {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
  }

  @media #{$desktop-widths} {
    top: -35px;
    right: auto;
  }

  .text-field--invalid & {
    display: block;
  }
}

.radio-btn, .checkbox {
  @include  bold-text;
  position: relative;
  display: block;
  padding-left: 80px;

  line-height: 56px;
  text-align: left;
  text-transform: none;

  &::before {
    @include absolute-pseudo-element(0, 0);
    @include size(56px);

    background-color: $lighter-grey;
    transition: background-color 0.5s;
  }

  &:hover::before {
    background-color: $grey;
  }

  &:active::before {
    background-color: $darker-grey;
  }
}

.radio-btn {
  margin-bottom: 13px;

  &::before {
    border-radius: 50%;
  }

  @media #{$tablet-widths} {
    margin-bottom: 23px;
  }
}


.checkbox {
  margin-bottom: 23px;

  &::before {
    border-radius: 5px;
  }

  @media #{$tablet-widths} {
    margin-bottom: 30px;
  }
}

input[type="radio"]:checked +.radio-btn {
  &::after {
    @include absolute-pseudo-element(17px, 17px);
    @include size(22px);

    border-radius: 50%;
    background-color: $black;
  }

  &:active::after {
    opacity: 0.3;
  }
}

input[type="checkbox"]:checked +.checkbox {
  &::after {
    @include absolute-pseudo-element(17px, 17px);
    @include size(22px);

    background-color: $black;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.feedback-form__textarea {
  @include  bold-text;
  @include input-style

  width: 100%;
  padding: 18px;

  overflow: hidden;

  &::-webkit-input-placeholder {
    @include  bold-text;
  }

  &::-moz-placeholder {
    @include  bold-text;
  }

  &:-moz-placeholder {
    @include  bold-text;
  }

  &:-ms-input-placeholder {
    @include  bold-text;
  }
}
