html {
  box-sizing: border-box;
}

body {
  min-width: 320px;

  font-weight: normal;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: $font-size;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: $text-color;

  background-color: $lighter-grey;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-content {
  @include container;

  background-color: $white;
}

.non-desktop {
  @media #{$desktop-widths} {
    display: none;
  }
}
