.advantage {
  @media #{$tablet-widths} {
    display: flex;
    flex-drection: row;
  }
}

.advantage__text-block {
  padding: 40px 20px;
  color: $white;

  background-color: $blue;
  @media #{$mobile-only} {
    &--triangle {
      padding-top: 75px;
    }
  }

  @media #{$tablet-widths} {
    min-height: 256px;
    width: 33.33%;
    padding: 40px;
  }

  @media #{$desktop-widths} {
    padding: 50px 60px;
  }
}

.advantage__text-block--align-right {
  order: 1;
}

.advantage__picture-wrapper {
  height: 260px;

  overflow: hidden;
  font-size: 0;

  @media #{$tablet-widths} {
    height: 256px;
    width: 66.66%;
    flex-grow: 1;
  }
}

.advantage__img {
  height: auto;
  width: 100%;
  //object-fit: cover;
}

.advantage__title {
  @include bold-text($white);

  margin-top: 0;
  margin-bottom: 8px;

  @media #{$tablet-widths} {
    font-size: $font-size-big;
  }
  @media #{$desktop-widths} {
    padding: 0 45px;
  }
}

.advantage__number {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
  @include lines-on-sides(6px, white, 0, 9px);
  justify-content: center;

  @media #{$tablet-widths} {
    margin-bottom: 22px;
  }
}

.advantage__text {
  margin: 0;
}
