.amenities {
  background-color: $bg-grey;
}

.amenities__inner {
  padding: $mobile-padding;

  @media #{$tablet-widths} {
    padding: 0;
    display: flex;
  }

  @media #{$desktop-widths} {
    padding-bottom: 22px;
  }
}
