.amenity {
  padding: 27px 0;

  &:not(:first-child) {
    @include grey-border;
  }


  @media #{$tablet-widths} {
    padding: 45px 50px;
    width: 33.33%;

    &:not(:first-child) {
      border: none;
    }
  }
}

.amenity__title {
  @include bold-text($black);

  margin: 0;
  margin-bottom: 9px;

  @media #{$tablet-widths} {
    font-size: $font-size-big;
  }

  @media #{$desktop-widths} {
    padding: 0 90px;
  }
}

.amenity__number {
  display: block;
  margin-bottom: 15px;
  @include lines-on-sides(6px, $text-color, 0, 9px);
  justify-content: center;

  @media #{$tablet-widths} {
    margin-bottom: 20px;
  }
}

.amenity__text {
  margin: 0;
}
