.feature {
  padding-left: 50px;
  padding-top: 27px;

  text-align: left;

  background-repeat: no-repeat;
  background-position:left 27px;
  background-size: 40px;

  &--accomodation {
    background-image: url(../img/icon-house.svg);
  }

    &--souvenirs {
    background-image: url(../img/icon-gift.svg);
  }

    &--food {
    background-image: url(../img/icon-burger.svg);
  }

  @media #{$tablet-widths} {
    padding: 0 40px;
    padding-top: 105px;
    width: 33.33%;

    text-align: center;

    background-position: top center;
    background-size: auto;

    &--souvenirs  {
      order: 1;
    }
  }
}

.feature__title {
  margin-top: 0;
  margin-bottom: 15px;

  @include bold-text;

  @media #{$tablet-widths} {
    margin-bottom: 20px;
    font-size: $font-size-big;
  }
}

.feature__text {
  margin-top: 0;
  margin-bottom: 0;
}
