.feature {
  padding-left: 50px;
  padding-top: 27px;

  text-align: left;

  @media #{$tablet-widths} {
    padding: 0 40px;
    padding-top: 105px;
    width: 33.33%;

    text-align: center;

    &:nth-child(2) {
      order: 1;
    }
  }
}

.feature__title {
  margin-top: 0;
  margin-bottom: 15px;

  @include bold-text;

  @media #{$tablet-widths} {
    margin-bottom: 20px;
    font-size: $font-size-big;
  }
}

.feature__text {
  margin-top: 0;
  margin-bottom: 0;
}
