.features {
  padding: 20px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 35px;
  width: $mobile-width;

  @media #{$tablet-widths} {
    width: 100%;
    padding: 0;
    display: flex;
    margin-top: 52px;
    margin-bottom: 64px;
  }

  @media #{$desktop-widths} {
    margin-bottom: 85px;
  }
}
