.feedback-form {
  padding-bottom: 38px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$tablet-widths} {
    padding: $tablet-padding;
    padding-bottom: 65px;
  }

  @media #{$desktop-widths} {
    padding: $desktop-padding;
    padding-bottom: 70px;
  }
}

.feedback-form__section {
  width: 100%;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  border: none;

  &--contacts {
    margin-bottom: 8px;
  }

  &--impression {
    margin-bottom: 16px;
  }

  &--comment {
    margin-bottom: 36px;
  }

  @media #{$tablet-widths} {
    &--name {
      width: 50%;
      padding: $tablet-padding;
      padding-right: 0;
      border: none;
    }

    &--contacts {
      margin-top: 5px;
    }

    &--impression {
      width: 50%;
      order: -1;
      @include grey-border (right);
    }

    &--sights {
      margin-bottom: 12px;
    }

    &--comment {
      margin-bottom: 47px;
    }
  }

  @media #{$desktop-widths} {
    &--name {
      padding-left: 80px;
    }
    &--sights {
      margin-top: -5px;
      margin-bottom: 10px;
    }
  }
}



.feedback-form__section__inner {
    margin-top: 20px;
  @media #{$mobile-only} {
    padding: $mobile-padding;
  }

  @media #{$tablet-widths} {

    margin-top: 57px;

    &--contacts {
      margin-top: 25px;
    }

    &--sights {
      margin-top: 43px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 (95px / 648px * 100%);
    }
  }

  @media #{$desktop-widths} {
    &--contacts {
      margin-top: 75px;
      display: flex;
    }
    &--sights {
      padding: 0;
      justify-content: space-between;
    }
  }
}


.feedback-form__section-title {
  margin: 0;

  @include bold-text($black);

  @media #{$mobile-only} {
    @include grey-border(top);
    padding-top: 18px;
  }

  @media #{$tablet-widths} {
    margin-top: 25px;
    font-size: $font-size-big;

    &--tablet-full-width {
      @include lines-on-sides(0, transparentize($black, 0.9), 0, calc(50% - 200px), 1px);
      justify-content: space-between;
    }

    &--tablet-half-width {
      text-align: left;
    }
  }

  @media #{$desktop-widths} {
    &--impression {
      padding-left: 80px;
    }
  }
}

.btn--feedback-form {
  margin: $mobile-padding;
  width: calc(100% - 40px);

  @media #{$tablet-widths} {
    width: 50%;
    margin: 0;
  }
}

.feedback-form__note {
  display: none;

  @media #{$tablet-widths} {
    display: block;
    width: 50%;
    text-align: right;
    align-self: center;
  }
}


.feedback-form__section--sights .checkbox {
  @media #{$tablet-widths} {
    width: 44%;

    &--bell {
      order: 1;
    }

    &--slide-park {
      order: 2;
    }

    &--red-rocks {
      order: 3;
    }
  }
  @media #{$desktop-widths} {
    width: auto;
  }
}

.text-field--contacts {
  @media #{$tablet-widths} {
    flex-direction: column;
  }

  @media #{$desktop-widths} {
    flex-direction: row;
    align-items: center;
    width: 50%;

    &:nth-child(1) {
      margin-right: 80px;
    }
  }

  & .text-field__label {
    @media #{$desktop-widths} {
      padding-left: 0;
      padding-right: 15px;
      margin: 0;
    }
  }
  & .text-field__input {
    @media #{$tablet-widths} {
      order: 1;
    }
  }
}

legend + * {
    -webkit-margin-top-collapse: separate;
}
