.likes-count {
  //padding: 9px 0;
  display: flex;
  align-items: center;
  //padding-left: 35px;

  font-size: $font-size;
  font-weight: bold;

  @media #{$tablet-widths} {
    width: 70px;
  }
}

.likes-count__icon {
  display: block;
  margin-right: 15px;
  cursor: pointer;
}

.likes-count svg {
  fill: $icons-grey;
  @media #{$desktop-widths} {
    fill: $white;
  }
}

.likes-count__number {
  display: block;
}
