.logo {
  height: 83px;
  margin-bottom: -27px;

  background-color: $white;

  @media #{$tablet-widths} {
    margin-top: -56px;
    width: 102px;
    margin-right: auto;
    margin-left: auto;
  }
}
