.main-menu {
  color: $white;
  background-color: $blue;

  @media #{$tablet-widths} {
    color: $black;
    background-color: $white;
    padding: 0;
  }
}

.main-menu__list {
  @include list-reset;

  @media #{$tablet-widths} {
    @include clearfix;
    display: table;
    width: 100%;
  }
}

.main-menu__item {
  @media #{$tablet-widths} {
    display: table-cell;
    width: 20%;

    &:nth-child(2) {
      width: 40%;
      padding-right: 20%;
    }
  }
}

.main-menu__link {
  @include bold-text(inherit);
  @include btn-style;

  display: block;
  padding: 14px 0;

  text-decoration: none;

  border-top: 1px solid transparentize($white, 0.8);
  border-bottom: 1px solid transparentize($black, 0.8);

  .main-menu__item:first-child & {
    border-top: none;
  }

  .main-menu__item:last-child & {
    border-bottom: none;
    box-shadow: 0 -10px 10px -10px transparentize($black, 0.6) inset;

    @media #{$tablet-widths} {
      box-shadow: none;
    }
  }

  @media #{$tablet-widths} {
    color: inherit;
    background-color: $white;
    border-top: none;
    border-bottom: none;
  }
}
