.main-menu {
  color: $white;
  background-color: $blue;

  @media #{$tablet-widths} {
    color: $black;
    background-color: $white;
    padding: 0;
    min-height: 56px;
  }
}

.main-menu__list {
  @include list-reset;

  @media #{$tablet-widths} {
    display: flex;
    //justify-content: space-around;
  }
}

 .main-menu__item {
  @media #{$tablet-widths} {
    width: 20%;
   &:nth-child(2) {
      margin-right: 20%;
    }
  }
}

.main-menu__link {
  @include bold-text(inherit);

  display: block;
  padding: 14px 20px;

  text-decoration: none;

  border-top: 1px solid transparentize($white, 0.8);
  border-bottom: 1px solid transparentize($black, 0.8);

  .main-menu__item:first-child & {
    border-top: none;
  }

  .main-menu__item:last-child & {
    border-bottom: none;
    box-shadow: 0 -10px 10px -10px transparentize($black, 0.6) inset;

    @media #{$tablet-widths} {
      box-shadow: none;
    }
  }

  @media #{$mobile-only} {
    @include btn-style;
  }

  @media #{$tablet-widths} {
    color: inherit;
    font-size: 14px;
    background-color: $white;
    border-top: none;
    border-bottom: none;

    &--active {
      color: #766357;
    }

    &:hover {
      color: $blue;
    }

    &--active:hover {
      color: #604e43;
    }

    &:active {
      color: transparentize($black, 0.7);
    }

    &--active:active {
      color: transparentize(#766357, 0.7);
    }
  }
}
