.offer {
  padding: $mobile-padding;
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;

  @media #{$tablet-widths} {
    width: 480px;
  }


}

.offer__caption {
  @include bold-text;

  display: block;
  margin-bottom: 18px;

  font-size: $font-size-big;
}


.offer__text {
  margin: 0;
  margin-bottom: 34px;

  line-height: 24px;
}
