.offer {
  @include paddings;

  padding-top: 30px;
  padding-bottom: 50px;
}

.offer__caption {
  @include bold-text;

  display: block;
  margin-bottom: 18px;

  font-size: $font-size-big;
}


.offer__text {
  margin: 0;
  margin-bottom: 34px;

  line-height: 24px;
}
