.offer {
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  max-width: 500px;
  @media #{$tablet-widths} {
    padding-top: 55px;
    padding-bottom: 60px;
  }
  @media #{$desktop-widths} {
    padding-bottom: 70px;
  }
}

.offer__caption {
  @include bold-text;

  display: block;
  margin-bottom: 18px;

  font-size: $font-size-big;

  @media #{$tablet-widths} {
    margin-bottom: 30px;
    font-size: $font-size-huge;
  }
}


.offer__text {
  margin-bottom: 18px;

  line-height: 24px;

  @media #{$tablet-widths} {
    margin-bottom: 43px;
  }

  @media #{$desktop-widths} {
    margin-bottom: 47px;
  }
}

.btn--offer {
  margin-top: 34px;

  @media #{$tablet-widths} {
    margin-top: 43px;
  }

  @media #{$desktop-widths} {
    margin-top: 47px;
  }
}
