.page-header {
  @include container;
  background-color: $lighter-grey;
}

.page-header__intro-wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 68px;

  background: $blue url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  @media #{$tablet-widths} {
    min-height: 290px;
  }

  @media #{$desktop-widths} {
    min-height: 300px;
  }

  &--main-page {
    padding-top: 90px;
    padding-bottom: 85px;

    @media #{$tablet-widths} {
      min-height: 520px;
    }
  }
}

.page-header__intro-text {
  display: block;
  margin: 0 auto;
}
