.page-caption {
  padding: 0 20px;
  padding-top: 40px;
  margin: 0 auto;
  max-width: 550px;
  margin-bottom: 25px;

  @media #{$tablet-widths} {
    padding-top: 75px;
    margin-bottom: 70px;
  }

  @media #{$desktop-widths} {
    padding-top: 113px;
    margin-bottom: 70px;
  }

  &--main-page {
    margin-bottom: 45px;
    @media #{$tablet-widths} {
      padding-top: 48px;
      margin-bottom: 49px;
    }
  }

  &--form-page {
    margin-bottom: 15px;
    @media #{$tablet-widths} {
      margin-bottom: 49px;
    }
    @media #{$desktop-widths} {
      margin-bottom: 35px;
    }
  }

  &--videos {
  padding-top: 35px;
  margin-bottom: 32px;
    @media #{$tablet-widths} {
      padding-top: 68px;
      margin-bottom: 75px;
    }
    @media #{$desktop-widths} {
      padding-top: 70px;
      margin-bottom: 73px;
    }
  }
}

.page-caption__title {
  @include bold-text(black);

  display: block;
  margin-top: 0;
  margin-bottom: 27px;

  @media #{$tablet-widths} {
    font-size: $font-size-huge;
    margin-bottom: 30px;

    &--main-page {
      font-size: $font-size-big;
    }
  }
}

.page-caption__text {
  margin: 0;

  line-height: 24px;

  &--main-page {
    line-height: 26px;
  }
}
