
.photo-block {
  width: 100%;

  @media #{$mobile-only} {
    @include grey-border;
    padding: $mobile-padding;
    padding-top: 23px;
    margin-bottom: 10px;

    &:last--of-type {
      padding-bottom: 10px;
      margin-bottom: 0;
      @include grey-border(bottom);
    }
  }

  @media #{$tablet-widths} {
    &:not(:first-of-type) {
      width: 50%;
    }
  }

  @media #{$desktop-widths} {
    position: relative;
    &:not(:first-of-type) {
      width: 33.33%;
    }
  }
}

.photo-block__image-wrapper {
  overflow: hidden;
  font-size: 0;

  @media #{$tablet-widths} {
      height: 267px;
    .photo-block:first-of-type & {
      height: 400px;
    }
  }
}

.photo-block__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.photo-block__caption {
  font-size: 1rem;
  display: flex;
  flex-direction: column;

  @media #{$tablet-widths} {
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    background-color: $lighter-grey;

    .photo-block:nth-of-type(2n+3) & {
      background-color: $bg-photo-block-grey;
    }
  }

  @media #{$desktop-widths} {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
    .photo-block:nth-of-type(n) & {
      background-color: transparentize($black, 0.7);
    }
  }
}

.photo-block__image-wrapper {
  @media #{$mobile-only} {
    margin-bottom: 15px;
  }
}


.photo-block__text-wrapper {
  flex-grow: 1;
}


.photo-block__title {
  color: $black;
  font-size: 14px;

  margin: 0;
  margin-bottom: 2px;

  @media #{$desktop-widths} {
    bottom: 0;
    color: $white;
  }
}

.photo-block__credits {
  text-transform: none;
}

.photo-block__autor-name {
  margin-left: 3px;
}
