.video-player {
  padding-top: 5px;
  margin-bottom: 40px;
}

.video-player__video {
  display: block;
}

.video-player__controls {
  position: relative;
  z-index: 100;
  margin: 0 20px;
  height: 66px;

  background-color: $lighter-grey;
}

.video-player__volume-control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 66px;
  padding: 22px;
  padding-bottom: 20px;

  background-color: transparentize($black, 0.4);
}

.video-player__volime-scale {
  height: 3px;

  background-color: transparentize($white, 0.8);
}
