.video-player {
  max-width: 800px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    position: relative;
  }
}

.video-player__video {
  display: block;
  width: 100%;
  object-fit: cover;

  @media #{$tablet-widths} {
    height: 500px;
  }
}

.video-player__controls {
  position: relative;
  z-index: 100;
  margin: $mobile-padding;
  height: 66px;
  padding-left: 25px;
  padding-right: 23px;

  display: flex;
  align-items: center;

  background-color: $lighter-grey;

  @media #{$tablet-widths} {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 93px;
    padding-left: 35px;
    padding-right: 40px;

    background-color: transparentize($black, 0.4);
  }
}

.video-player__volume-control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 66px;
  padding: 22px;
  padding-bottom: 20px;

  background-color: transparentize($black, 0.4);

  @media #{$tablet-widths} {
    position: static;
    background-color: transparent;
    padding: 45px;
    flex-grow: 1;
  }
}

.video-player__volime-scale {
  height: 3px;

  background-color: transparentize($white, 0.8);
}

.video-player__btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;

  font-size: 0;
  vertical-align: top;
  text-align: center;
  text-decoration: none;

  background-color: $black;
  border: none;
  outline: none;
  cursor: pointer;

  &--subtitles {
    margin-right: 30px;
  }

  @media #{$mobile-only} {

    &--replay {
      margin-right: auto;
    }
  }

  @media #{$tablet-widths} {
    &--replay {
      order: -1;
    }
  }
}
